body{

    background-color: rgb(20, 22, 32);

    margin: 0;
    
    padding: 0;
}

.left-bar{
    position: absolute;
    background-color: rgb(39, 40, 49);  
    overflow-y: hidden;
    width: 20%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    
}


.bar-title{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}
.bar-item{
    position: relative;
    font-size: 20px;
    background-color: rgb(20, 22, 32);
    width: 80%;
    left: 10%;
    padding: 1%;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: #00000075 2px 2px 50px;
}


.load_files{
    position: absolute;
    left: 50%;
}

.files_container{
    position: absolute;
    width: 60%;
    left: 30%;
    height: 90%;
    top: 5%;
    border-radius: 15px;
    background-color: rgb(39, 40, 49);
    text-align: center;
    
}

.files_container_title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 20px;
}

.files-list{
    position: relative;
    
    width: 95%;
    height: 80%;
    left: 5%;
    text-align: left;
    overflow-y: scroll;
   
}

.file_box{
    width: 95%;
    background-color: rgba(20, 22, 32, 0.418);
    padding: 15px;
    border-radius: 15px;
    color: #fff;
    margin-top: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.file_name{
    position: absolute;

    font-weight: 500;
    margin-left: 10%;

}

.file_size{
    position: absolute;
    font-weight: 500;
    width: 100px;
    margin-left: 50%;
}

.file_remove{
    position: absolute;
    margin-left: 60%;
    background-color: rgb(39, 40, 49);
    border: none;
    padding: 10px;
    color: #ff2222;
    font-size: 15px;
    
    border-radius: 5px;
}

.file_encrypt{
    position: relative;
    margin-left: 80%;
    background-color: rgb(60, 246, 119);
    border: none;
    padding: 10px;
    color: #252525;
    font-weight: 60;
    font-size: 15px;
    border-radius: 5px;
}

.upload_cont{
    position: absolute;
    width: 30%;
    padding: 20px;
    background-color: rgba(20, 22, 32, 0.418);
    color: #fff;
    text-align: center;
    top: 50%;
    border-radius: 15px;
    left: 45%;
    box-shadow: rgba(20, 22, 32, 0.418) 5px 5px 25px;
    top: 800px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 19px;
}


.alert-list{
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0%;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: hidden;
}

.alert_1{
    background-color: rgb(12, 243, 147);
    padding: 10px;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(28, 28, 28);
    font-weight: 500;
}

.aler_title{
    font-size: 25px;
}