body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
 
}


.left_container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.622);
    width: 50%;
    height: 100%;
    z-index: 2;
}

.main_container{
    position: absolute;
   
    width: 35%;
    height: 100%;
 
}

.navbar{
    position: fixed;
    background-color: #1a1a1a00;
    height: 50px;
    padding: 10px;
    padding-top: auto;
    padding-bottom: auto;
    width: 100%;
    left: 2%;
    top: 10px;

   
    border-radius: 0px 20px 20px 0px;
}
.nav_title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 80px;
    padding-right: 0px;
}


.nav_item{
    position: relative;
    background-color: #28282800;
    padding: 5px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
}
.login_buttons{
    position: relative;
    top: 350px;
}
.fa-discord{
    font-size: 80px;
    margin-top: 50px;
}

.discord_login_upper{
    font-size: 50px;
    font-weight: 700;
    
    
}
.discord_login_under_line{
    position: absolute;
    background-color: #ffffff;
    left: 15%;
    width: 100%;
    height: 1px;
    color: #18122b00;
    box-shadow: #ffffff 10px 10px 15px;
}

.nav_bar_items{
    position: absolute;
    background-color: #fff;
    left: 0%;
    width: 45%;
    height: 3px;
}
.discord_login{
    font-family: Arial Black;
    position: relative;
    background-color: #1a1a1a00;
    width: 100%;
 
    text-align: center;
    height: 250px;
    top: 50px;
    left: 10%;
    border-radius: 15px;
    font-weight: 100;
  
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;

}
.discord_login_text{
    background-color: #ffffff;
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 25px;
    width: 80%;
    color: #1a1a1a;
    margin-left: 10%;
}

.manual_login{
    position: relative;
    background-color: #1a1a1a;
    padding: 5px;
    font-weight: 500;
    border-radius: 15px;

    width: 50%;
    left: 25%;
    top: 150px;
    text-align: center;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    padding: 5px;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: #1a1a1a 5px 5px 25px;
}


.side_container{
    background-color: #18122b6d;
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    overflow-x: hidden;

    
}
.side_container_back_video{
    position: absolute;
    overflow: hidden;
    width: 200%;
    height: 100%;
    left: -10%;
}

#back_video{
    position: absolute;
    right: 10%;
}

.fi-tr-earth-africa{
    position: absolute;
    font-size: 400px;
    color: #fff;
    font-weight: 100        ;
}

#earth{
    position: absolute;
    bottom: 0%;
}

.adver-container{
    position: absolute;
    background-color: #00000028;
    width: 50%;
    height: 200px;
    top: 80%;
    left: 5%;
    text-align: center;
    z-index: 2;

}
.adver_tite_title{
    color: #ffffff;
    z-index: 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
}

.adver_marketing_text{
    position: relative;
    margin-top: 10px;
    width: 50%;
    left: 25%;
    color: #fff;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

.adver_marketing_text_small{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff9d;
    font-size: 15px;
}

.adver_marketing_text_buy{
    position: relative;
    background-color: rgb(255, 255, 255);
    color: #1a1a1a;
    width: 30%;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border-radius: 50px;
    margin-top: 10px;
    padding: 5px;
    left: 35%;

}

#svg { position: absolute;
top: 32%;
overflow: hidden;
}

.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-0{
    0%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 81.37692307692305,221.32307692307694 162.7538461538461,192.64615384615385 237,165 C 311.2461538461539,137.35384615384615 378.36153846153854,110.73846153846151 470,160 C 561.6384615384615,209.2615384615385 677.7999999999998,334.40000000000003 764,341 C 850.2000000000002,347.59999999999997 906.4384615384615,235.66153846153844 973,229 C 1039.5615384615385,222.33846153846156 1116.446153846154,320.95384615384614 1196,342 C 1275.553846153846,363.04615384615386 1357.7769230769231,306.5230769230769 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    25%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 76.9897435897436,241.03333333333333 153.9794871794872,232.06666666666666 243,229 C 332.0205128205128,225.93333333333334 433.07179487179485,228.76666666666668 505,217 C 576.9282051282051,205.23333333333332 619.7333333333333,178.86666666666667 701,171 C 782.2666666666667,163.13333333333333 901.9948717948719,173.7666666666667 999,182 C 1096.0051282051281,190.2333333333333 1170.2871794871794,196.06666666666666 1240,207 C 1309.7128205128206,217.93333333333334 1374.8564102564103,233.96666666666667 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    50%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 83.22564102564101,296.1 166.45128205128202,342.2 249,343 C 331.548717948718,343.8 413.42051282051284,299.3 501,291 C 588.5794871794872,282.7 681.8666666666667,310.59999999999997 749,285 C 816.1333333333333,259.40000000000003 857.1128205128207,180.29999999999998 931,183 C 1004.8871794871793,185.70000000000002 1111.6820512820514,270.2 1202,295 C 1292.3179487179486,319.8 1366.1589743589743,284.9 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    75%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 64.25641025641022,207.18205128205128 128.51282051282044,164.36410256410255 224,184 C 319.48717948717956,203.63589743589745 446.2051282051283,285.72564102564104 524,317 C 601.7948717948717,348.27435897435896 630.6666666666666,328.7333333333334 706,324 C 781.3333333333334,319.2666666666666 903.1282051282053,329.34102564102557 981,333 C 1058.8717948717947,336.65897435897443 1092.8205128205127,333.9025641025641 1162,319 C 1231.1794871794873,304.0974358974359 1335.5897435897436,277.0487179487179 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    100%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 81.37692307692305,221.32307692307694 162.7538461538461,192.64615384615385 237,165 C 311.2461538461539,137.35384615384615 378.36153846153854,110.73846153846151 470,160 C 561.6384615384615,209.2615384615385 677.7999999999998,334.40000000000003 764,341 C 850.2000000000002,347.59999999999997 906.4384615384615,235.66153846153844 973,229 C 1039.5615384615385,222.33846153846156 1116.446153846154,320.95384615384614 1196,342 C 1275.553846153846,363.04615384615386 1357.7769230769231,306.5230769230769 1440,250 C 1440,250 1440,500 1440,500 Z");
    }}